body{
    background-color: #797979;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    background-color: #797979;
    padding: 0 0;
    color: #000000;
    text-align: center;
    position: relative;
    line-height: 150%;
    min-height: 69px;
    max-height: 61px;
}

p{  font-size: 18px;  
    margin: 3px;
    display:inline;
    float:left;}
em{font-size: 40px}

.seccion div{ 
    display:inline-block;
    vertical-align:top;
    margin-left: 5px;
    margin-right: 5px;
}

.peticion div{
    margin: 5px;
    border: 5px;
    border-color:bisque;
}
h{
    background-color: #797979;
    color: #001C41;
    min-height: 200px;
}